<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <display-name>Calculations</display-name>
    <servlet>
        <servlet-name>Calculations</servlet-name>
        <servlet-class>com.example.addnumbers.Calculations</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Calculations</servlet-name>
        <url-pattern>/calculations</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Addition</servlet-name>
        <servlet-class>com.example.addnumbers.AdditionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Addition</servlet-name>
        <url-pattern>/addition</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>Multiplication</servlet-name>
        <servlet-class>com.example.addnumbers.MultiplicationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Multiplication</servlet-name>
        <url-pattern>/multiplication</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Division</servlet-name>
        <servlet-class>com.example.addnumbers.DivisionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Division</servlet-name>
        <url-pattern>/division</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>Subtraction</servlet-name>
        <servlet-class>com.example.addnumbers.SubtractionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Subtraction</servlet-name>
        <url-pattern>/subtraction</url-pattern>
    </servlet-mapping>
</web-app>